/*
 Primary: #212121;
 Dark: #000000;
 Light: #484848;

 Secondary: #263238;
 Dark: #000a12;
 Light #4f5b62;

 Font: #FFFFFF;
*/

@font-face {
  font-family: "Scare Arms";
  src: url('../resources/font/Scare Arms.otf') format('opentype');
}

@font-face {
  font-family: "Kafka";
  src: url('../resources/font/Kafka.ttf') format('truetype');
}

body {
  font-family: sans-serif;
  color: #F2F2F2;
  background-color: #000a12;
  font-family: sans-serif;
}


.navbar {
  z-index: 5000;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #4f5b62;
}

.navbar
{
  background-color: #263238;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-left: .4rem;
  padding-right: .4rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .9rem;
  font-family: sans-serif;
  font-weight: bold;
}

#logo img {
 width: 28%;
}

.navbar {
  padding-left: .4rem;
}

.navbar-brand {
  padding: 0px;
  font-size: 1.5rem;
  font-family: "Kafka", sans-serif;
  margin-right: 5px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  background-color: #000a12;
  color: #F2F2F2;
}

#active {
  background-color: #4f5b62;
}

#content {
  position: relative;
  background-color: #212121;
  padding: 100px;
  z-index: 98;
}

.keyart, .keyart_layer {
	height: 1000px;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.keyart_layer.parallax {
	position: fixed;
}

#keyart-0 {
  background-color: #000a12;
  background-image: url('../resources/img/parallax0.png');
}
#keyart-2 {
  background-image: url('../resources/img/parallax2.png');
}
#keyart-3 {
  background-image: url('../resources/img/parallax3.png');
}
#keyart-4 {
  background-image: url('../resources/img/parallax4.png');
}
#keyart-5 {
  background-image: url('../resources/img/parallax5.png');
}

.meetTeam {
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
}

.infoProfile {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
}

h2 {
  font-weight: bold;
  text-align: center;
}

h5 {
  font-weight: bold;
  margin-top: 30px;
  margin-right: 30%;
  margin-left: 30%;
  line-height: 1.5em
}

.extraDescription {
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  line-height: 1.6em;
  font-size: 1rem;
}

.extraDescription h5 {
  font-weight: bold;
  margin-top: 0px;
  line-height: 1.5em;
  margin-right: 0;
  margin-left: 0;
}

hr {
  border-top: 1px solid white;
  margin-top: 100px;
  margin-bottom: 50px;
}

a {
  color: #4f5b62;
}

a:hover {
  color: #4f5b62;
}

.content {
  bottom: 0;
}

.profileAvatar {
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.socialIcon {
  margin-left: 5px;
  margin-right: 5px;
}

.socialIconDiv {
  text-align: center;
}

.infoParagraph {
  text-align: center;
  font-size: 1em;
  margin-top: 15px;
}
.rolesProfile {
  text-align: center;
  margin-top: 10px;
}

.images img{
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.images {
  margin-left: 30%;
  margin-right: 30%;
}

.imgZoom {
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
cursor: -webkit-zoom-in;
cursor: -moz-zoom-in;
cursor: zoom-in;
}

.imgZoom:hover,
.imgZoom:active,
.imgZoom:focus {
/**adjust scale to desired size,
add browser prefixes**/
-ms-transform: scale(2.5);
-moz-transform: scale(2.5);
-webkit-transform: scale(2.5);
-o-transform: scale(2.5);
transform: scale(2.5);
position:relative;
z-index:100;
}

.vid {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
